<div style="border: black solid 3px; padding: 5px; width: 80vw">
  <h2 *ngIf="!editTitle" (dblclick)="editTitleBtn()" class="d-flex justify-content-center">{{entry.title}}</h2>
  <form *ngIf="editTitle" class="d-flex justify-content-center" #titleForm="ngForm" (focusout)="saveTitle()">
    <input name="title" #titleInput [(ngModel)]="title">
  </form>

  <h6>Created: {{entry.createdDate | date:"medium"}}</h6>
  <h6>Edited: {{entry.editedDate | date:"medium"}}</h6>
  <select name="collection" [compareWith]="customCollectionCompare" [(ngModel)]="entry.collection" #collectionTitle="ngModel" (ngModelChange)="updateCollection(entry, $event)">
    <option *ngFor="let option of collections" [ngValue]="option">{{option.title}}</option>
  </select>
  <select name="hiddenStatus" [(ngModel)]="entry.hiddenStatus" #hiddenStatus="ngModel" (ngModelChange)="updateHiddenStatus(entry)">
    <option [selected]="option == entry.hiddenStatus?.toString()" *ngFor="let option of hiddenOptions" [ngValue]="option">{{option}}</option>
  </select>
  <br><br>
  <button (click)="editMode ? saveText() : editText()">{{editMode? 'Save' : 'Edit'}}</button>
  <p *ngIf="!editMode" (dblclick)="editText()" style="border: black solid 2px; min-height: 65vh;">
    {{entry.text}}
  </p>
  <textarea #textInput *ngIf="editMode" style="border: black solid 2px; min-width: 79vw; min-height:65vh;" [(ngModel)]="entry.text" (focusout)="saveText()"></textarea>
</div>
