<div class="idBody w-100 m-0 mt-4 mb-1 h-100 container-fluid">

  <div *ngFor="let entry of entries let i= index" class="card bg-light mt-1 border-3 border-dark mx-auto d-flex flex-column container-fluid table-responsive w-75">
    <div class="row mt-1">
      <h3 class="col-12 col-sm-5">{{entry.title}}</h3>
      <div class="col-xxl-2"></div>
      <div class="col-12 col-xxl-5 mt-2 d-flex justify-content-end">
        <h6 class="col-6 col-xxl-6 d-flex justify-content-end smallerH6">Created: {{entry.createdDate | date:"shortDate"}}</h6>
        <h6 class="col-6 col-xxl-6 d-flex justify-content-end smallerH6">Edited: {{entry.editedDate | date:"shortDate"}}</h6>
      </div>
    </div>

    <div class="row mb-1">

      <div class="col-12 col-xxl-3">
        <select class="form-select" name="collection" [compareWith]="customCollectionCompare" [(ngModel)]="entry.collection" #collectionTitle="ngModel" (ngModelChange)="updateCollection(entry, $event)">
          <option *ngFor="let option of collections" [ngValue]="option">{{option.title}}</option>
        </select>
      </div>

      <div class="col-12 col-xxl-6"></div>

<!--      col-2-->
      <div class="col-12 col-xxl-3 top-margin d-flex justify-content-end">
        <div class="col-10 col-xxl-6">
          <select class="form-select smaller-status" name="hiddenStatus" [(ngModel)]="entry.hiddenStatus" #hiddenStatus="ngModel" (ngModelChange)="updateHiddenStatus(entry)">
            <option [selected]="option == entry.hiddenStatus?.toString()" *ngFor="let option of hiddenOptions" [ngValue]="option">{{option}}</option>
          </select>
        </div>
        <button class="col-2 col-xxl-6 btn btn-primary pb-1 px-1 rounded-1 ms-1 deleteBtn" (click)="deleteEntry(entry)"><i class="bi bi-trash-fill icon-large p-0 m-0"></i></button>
      </div>
    </div>

  </div>

  <div class="fixed-bottom d-flex justify-content-end">
    <button class="btn btn-primary btn-circle btn-xl btn-pullup"><i class="bi bi-plus large-plus"></i></button>
  </div>


</div>

