<div *ngFor="let entry of entries let i = index" style="border: #1c1c1a solid; margin-top: 5px">
  <div >
    <h3>{{entry.title}}</h3>
    <h6>Created: {{entry.createdDate | date:"medium"}}</h6>
    <h6>Edited: {{entry.editedDate | date:"medium"}}</h6>
    <select name="collection" [compareWith]="customCollectionCompare" [(ngModel)]="entry.collection" #collectionTitle="ngModel" (ngModelChange)="updateCollection(entry, $event)">
      <option *ngFor="let option of collections" [ngValue]="option">{{option.title}}</option>
    </select>
    <select name="hiddenStatus" [(ngModel)]="entry.hiddenStatus" #hiddenStatus="ngModel" (ngModelChange)="updateHiddenStatus(entry)">
      <option [selected]="option == entry.hiddenStatus?.toString()" *ngFor="let option of hiddenOptions" [ngValue]="option">{{option}}</option>
    </select>
    <button (click)="deleteEntry(entry)">DELETE</button>
  </div>
</div>
<button>CREATE bitch</button>

