<!--<p>footer works!</p>-->
<footer class="bg-light w-100 position-absolute bottom-0">
  <ul class="nav justify-content-center">
    <li class="nav-item pt-1">
      <a class="nav-link px-2 pe-5 text-muted yes-link" routerLink="asdfsa">About us</a>
    </li>
    <li class="nav-item pt-1">
      <a class="nav-link text-center pe-5 text-muted no-link">Diary 2023</a>
    </li>
    <li class="nav-item pt-1">
      <a class="nav-link px-2 text-muted yes-link" routerLink="asdfsa">Contact</a>
    </li>
  </ul>
</footer>
