<div class="idBody row w-100 m-0 mt-4 h-100 container-fluid">

  <div class="card mx-auto d-flex flex-column container-fluid table-responsive mb-1">
    <div class="row">
      <div class="col-3 c1">
        <h3 class="mt-2 ms-1">Avatar</h3>
      </div>

      <div class="col-9 c2 py-3 row">
        <div class="col-1"></div>
        <form #pfpForm="ngForm" (ngSubmit)="updatePfp()" class="col-11">
          <div class="pfp-div w-25">
            <img [src]="oldUser.pfpLink" alt="Boo" class="d-block mb-2 rounded w-60">
            <input type="file" id="inputeFile">
            <input class="d-block btn btn-primary col-7 button-font-size1" type="button" value="Upload image" onclick="document.getElementById('inputeFile').click();" />
<!--            <input [disabled]="edit!='pfp'" name="pfpLink" required [(ngModel)]="newUser.pfpLink" #pfpLink="ngModel">-->
<!--            <ng-container *ngIf="edit!='pfp' else cancelTemplate">-->
<!--              <button (click)="editMode('pfp')">Change</button>-->
<!--            </ng-container>-->
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="card mx-auto d-flex flex-column container-fluid table-responsive mb-1">
    <div class="row">

      <div class="col-3 card">
        <h3>Profile</h3>

      </div>


      <div class="col-9 card py-2">

        <form #emailForm="ngForm" (ngSubmit)="updateEmail()">
          <div class="email-div">
            <label>Email: </label>
            <input [disabled]="edit!='email'" name="email" required [(ngModel)]="newUser.email" #email="ngModel">
            <ng-container *ngIf="edit!='email' else cancelTemplate">
              <button (click)="editMode('email')">Change</button>
            </ng-container>
          </div>
        </form>

        <form #usernameForm="ngForm" (ngSubmit)="updateUsername()">
          <div class="username-div">
            <label>Username: </label>
            <input [disabled]="edit!='username'" name="username" required [(ngModel)]="newUser.username" #username="ngModel">
            <ng-container *ngIf="edit!='username' else cancelTemplate">
              <button (click)="editMode('username')">Change</button>
            </ng-container>
          </div>
        </form>

        <form>
          <div class="hiddenStatus-div">
            <label>Profile visibility: </label>
            <select name="hiddenStatus" [(ngModel)]="newUser.hiddenStatus" #hiddenStatus="ngModel" (ngModelChange)="updateHiddenStatus()">
              <option [selected]="option == newUser.hiddenStatus?.toString()" *ngFor="let option of hiddenOptions" [ngValue]="option">{{option}}</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card mx-auto d-flex flex-column container-fluid table-responsive">
    <div class="row">

      <div class="col-3 card">
        <h3>Password</h3>
      </div>

      <div class="col-9 card py-2">
        <form #passwordForm="ngForm" (ngSubmit)="updatePassword()">
          <div class="pass-div">
            <h4>Change password: </h4>
            <fieldset [disabled]="edit!='pass'">
              <label>Current password:</label>
              <input name="currentPass" required>
              <br>
              <label>New password:</label>
              <input name="pass" required>
              <br>
              <label>Confirm password:</label>
              <input name="passConfirm" required>
            </fieldset>
            <ng-container *ngIf="edit!='pass' else cancelTemplate">
              <button (click)="editMode('pass')">Change</button>
            </ng-container>
          </div>
        </form>
      </div>

    </div>
  </div>


  <ng-template #cancelTemplate>
    <button type="submit">Apply</button>
    <button (click)="cancelEditing()">Cancel</button>
  </ng-template>
  <!--<h2>Your profile is: {{user.hiddenStatus}}</h2>-->

</div>
