<div *ngFor="let col of collections" class="collection" [style.background-image]="'url('+col.backgroundImgLink+')'">
  <ng-container *ngIf="edit!=col.id else editTemplate">
    <h3 class="title">{{col.title}} with id {{col.id}}</h3>
    <button class="edit-btn" (click)="enterEditMode(col)">EDIT</button>
    <p class="description">{{col.description}}</p>
    <button disabled class="privacy-btn" [ngStyle]="{'background-color': col.hiddenStatus?.toString() == 'Private' ? 'red' : 'green' }"></button>
  </ng-container>
  <ng-template #editTemplate>
    <input name="email" [(ngModel)]="editingCollection.title">
<!--    <h3 class="title">{{col.title}}sdsfs with id {{col.id}}</h3>-->
    <button class="edit-btn" (click)="saveEdits(col)">CONFIRM</button>
    <input name="description" [(ngModel)]="editingCollection.description">
    <button class="privacy-btn" (click)="switchHiddenStatus()" [ngStyle]="{'background-color': editingCollection.hiddenStatus?.toString() == 'Private' ? 'red' : 'green' }"></button>
  </ng-template>
</div>
