<div class="idBody w-100 m-0 mt-4 mb-1 h-100 container-fluid row">
  <div class="card bg-light w-75 mx-auto mb-3 border-3 border-dark">
    <h3 class="card-header text-center">Name LastName</h3>
    <div class="card-body">
      <p class="card-text">asdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsi asdiaosdjaoisdj aijsd ioajfdsi asdiaosdjaoisdj aijsd ioajfdsi asdiaosdjaoisdj aijsd ioajfdsi
        asdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsi
        asdiaosdjaoisdj aijsd ioajfds
      </p>
    </div>

    <ul class="list-group list-group-flush bg-light text-center">
      <li class="list-group-item bg-light">Worked on blah blah</li>
      <li class="list-group-item bg-light">Worked on blah blah</li>
      <li class="list-group-item bg-light">Worked on blah blah</li>
    </ul>

  </div>

  <div class="card bg-light w-75 mx-auto border-3 border-dark">
    <h3 class="card-header text-center">Name LastName</h3>
    <div class="card-body">
      <p class="card-text">asdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsi asdiaosdjaoisdj aijsd ioajfdsi asdiaosdjaoisdj aijsd ioajfdsi asdiaosdjaoisdj aijsd ioajfdsi
        asdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsiasdiaosdjaoisdj aijsd ioajfdsi
        asdiaosdjaoisdj aijsd ioajfds
      </p>
    </div>

    <ul class="list-group list-group-horizontal bg-light text-center rounded-0">
      <li class="list-group-item bg-light col-4 border-top-0 border-start-0">Worked on blah blah</li>
      <li class="list-group-item bg-light col-4 border-top-0">Worked on blah blah</li>
      <li class="list-group-item bg-light col-4 border-top-0 border-end-0">Worked on blah blah</li>
    </ul>

  </div>

</div>
