<div class="idBody row w-100 m-0 mt-5 h-100">
  <div class="mx-auto col-10 col-md-8 col-lg-6">
    <h1 class="text-center login">Login</h1>
    <form class="card d-flex flex-column align-items-center table-responsive" #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">

      <fieldset class="email-div col-6">
        <label for="email" class="mb-1 mt-2">Email: </label>
        <input name="email" class="d-block form-control mb-3" id="email" type="email" placeholder="id=" required [(ngModel)]="login.email" >
      </fieldset>
      <fieldset class="pass-div col-6">
        <label for="pass" class="mb-1">Password: </label>
        <input name="pass" id="pass" class="d-block form-control mb-4" type="password" required [(ngModel)]="login.pass">
      </fieldset>
      <fieldset>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </fieldset>

      <div class="register">
        Don't have an account?
        <a routerLink="/register">Sign up</a>
      </div>
    </form>
  </div>
</div>
