
<form class="main-form" #registerForm="ngForm" (ngSubmit)="RegisterUser(registerForm)">

  <div class="email-div">
    <label>Email: </label>
    <input name="email" required [(ngModel)]="user.email">
  </div>
  <div class="pass-div">
    <label>Password: </label>
    <input name="pass" ngModel>
  </div>
  <div class="username-div">
    <label>Username: </label>
    <input name="username" [(ngModel)]="user.username">
  </div>
  <div class="birthday-div">
    <label>Birthday: </label>
    <input name="birthday" value="2010-3-25" [(ngModel)]="user.birthday">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
  <div></div>
  <div class="login">
    Already a user?
    <a routerLink="/login">Log in</a>
  </div>
  <div>
    {{ registerForm.value | json}}
  </div>
</form>


